:root {
    --color-primary: #398dd7;
    --color-black:  #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --color-dark-grey: #353535;
    --color-red: #cd3e65;
    --color-green: #08805b;
  
    --text-color: var(--color-black);
    --valid-color: var(--color-green);
    --error-color: var(--color-red);
  
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
  
    /** SECTION **/
    --section-padding: 5rem 0;
    --section-header-padding: 0 0 3rem;
    --section-header-align: center;
    --section-title-font-size: var(--font-size-xx-large);
    --section-title-font-weight: var(--font-weight-bold);
    --section-title-line-height: var(--line-height-small);
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
    --section-tagline-transform: uppercase;
    --section-tagline-color: var(--color-primary);
    --section-tagline-font-family: var(--font-family-headings);
    --section-tagline-font-weight: var(--font-weight-bold);
    --section-tagline-margin: 0;
    --section-body-padding: 2rem 0 4rem;
    --section-footer-padding: 3rem 0 0;
    --section-footer-align: center;
  
    /** HEADER **/
    --header-padding: 4rem 0 0;
  
    /** FOOTER **/
    --footer-padding: 5rem 0 1rem;
  
    /** NAVBAR **/
    --nav-item-font-family: var(--font-family-headings);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: .04rem;
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 0 2rem;
    --nav-item-link-hover: var(--color-white);
  
    /** BUTTON **/
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: var(--color-primary) solid 0.2rem;
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);
  
    /** MOTION **/
    --transition-duration: .3s;
    --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
}

.nav {
    margin-top: 1em;
}

.list-item {
    display: block;
    margin-bottom: 0.5em;
}

.event {
    margin-bottom: 2em;
}

.team {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.member {
    text-align: center;
}

.member img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 0.5em;
}

form label,
form select,
form input {
    display: block;
    margin-bottom: 1em;
}

form select,
form input {
    width: 100%;
    padding: 0.5em;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1em;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

.home {
    background: url(Sunrise\ [2560x1440].jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.social-handles {
    text-align: left;
    padding-left: 1%;
}
.text-1 {
    text-align: left;
    font-size: small;
}
.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    font-family: sans-serif;
    text-align: center;
}
.home-2 {
    text-align: center;
    text-decoration: none;
    font-size: larger;
}
ul.row {
    margin: -1rem;
    padding: 0;
    list-style: none;
  }
  
  .row {
    display: flex;
  }
  
  [class*='col-'] {
    margin: 1rem;
  }
  
  .col-1-3 {
    width: calc((100% / 3) - 2rem);
  }
  
  .col-1-2 {
    width: calc((100% / 2) - 2rem);
  }
  
  @media (max-width: 767px){
    :root{
        --section-padding: 5rem 1.5rem;
        --section-body-padding: 2rem 0 0;
    }
    ul.row{
        flex-direction: column;
        margin: 0;
    }
    .row{
        flex-direction: column;
        margin: 0;
    }
    [class*='col-'] {
        margin: 0 0 3rem 0;
    }
    .col-1-3{
        width: 100%;
    }
    .col-1-2{
        width: 100%;
    }
  }
  .section-body {
    padding: var(--section-body-padding);
  }
  .card-services .card-title {
    margin: 0;
  }
  
  .card-services a {
    display: block;
    padding: 2rem;
    background-color: var(--color-light-grey);
  }
  
  .card-services a:hover {
    color: var(--color-white);
    background: var(--color-primary);
    text-decoration: none;
    transition-duration: 0.3s;
    transition-property: color, background-color;
  }
  .card-title {
    color: #ffffff;
    text-decoration: none;
  }
  .uevents {
    text-align: center;
    background-color: #cd3e65;
    margin-top: 0%;
    
  }
.prodev {
    display: flex;
    
    justify-content: space-evenly;
    flex-direction: row;
}
.camevents {
    text-align: center;
}
.event img{
    width: 350px;
    height: 250px;
    
}
.event{
    margin: 10px;
    max-width: 350px;
    text-align: left;
}
@media (max-width: 992px){
    .prodev{
        flex-direction: column;
    }
    .team{
        flex-direction: column;
    }
}
#message{
    width: 400px;
    height: 100px;
}
main{
    background-color: #fff3f3;
}
/*contact form */

#contactform{
    font-family: 'verdana', sans-serif;
    background:#FFD700;
    padding: 2.5rem;
    margin-left:90px;
    margin-right: 90px;
    margin-top:0em;
    border-radius: 4px;
    width: 780px;
    display: grid;
    text-align: center;
    justify-content: center;
    
  }
  
  input{
   border: 1px ; 
    border-radius:10px;
    padding-top: 10px; 
    padding-bottom:10px;
    font-size:17px;
    
  }
  
  select{height: 2.375rem;
    border: 1px solid red; 
      width:100%;
    border-radius:4px;
  }
  #message {
    min-height: 120px;
    width:99%;
    resize: verticle;
}
button
{padding-top: 8px;
padding-bottom:8px;
background-color:#ffffff;
font-size:25px;
width:20%;
border-radius: 10px;
}
button:hover{
    background-color: #398dd7;
}
